.container__content {

}
.container__item {
    display: flex;
    margin-top: 2cm;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5em;
    border: 1px solid gray;
    width: 350px;
    height: 300px;
}